

<img src="http://puu.sh/59Kra.png" />
<h1>Hello Traveler!</h1>
<p>Discover new travel routes! Choose a location, specify your preferences and Traveler will recommend routes for you!</p>

<h4>Choose Location:</h4>
<div class="btn-group">
  <button type="button" class="btn btn-default">Locations</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Barcelona</a></li>
    <li><a href="#">Berlin</a></li>
    <li><a href="#">London</a></li>
    <li><a href="#">New York</a></li>
    <li><a href="#">Paris</a></li>
    <li><a href="#">Prague</a></li>
    <li><a href="#">Rome</a></li>
    <li><a href="#">Venice</a></li>
    <li><a href="#">Washington</a></li>
  </ul>
</div>