

<img src="http://puu.sh/59Kra.png" />
<h1>Hello Traveler!</h1>
<p>Discover new travel routes! Choose a location, specify your preferences and Traveler will recommend routes for you!</p>

<h4>Choose Location:</h4>
<div class="btn-group">
  <button type="button" class="btn btn-default">Locations</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="barcelona/index">Barcelona</a></li>
    <li><a href="berlin/index">Berlin</a></li>
    <li><a href="london/index">London</a></li>
    <li><a href="newyork/index">New York</a></li>
    <li><a href="paris/index">Paris</a></li>
    <li><a href="prague/index">Prague</a></li>
    <li><a href="rome/index">Rome</a></li>
    <li><a href="venice/index">Venice</a></li>
    <li><a href="washington/index">Washington</a></li>
  </ul>
</div>